<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
      content="Transform your spaces with expert interior design solutions! Discover stunning designs, personalized services, and innovative ideas to create the home or office of your dreams">
    <meta name="keywords"
      content="Interior design, Home decor, Office Interiors, Modern interior design, Luxury interiors, Space planning, Interior styling, Personalized design services, Contemporary decor, Interior design trends">
    <title>About Us - Sivra Spaces</title>
    <!-- <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.png" /> -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl1.carousel.min.css" />
    <link rel="stylesheet" href="/assets/owl-carousel/owl1.theme.default.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/aos/aos.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="stylesheet" href="/assets/sweetalert/sweetalert2.css">
  </head>
</head>

<body>
  <div class="about-outer-wrapper">
    <div class="header-wrapper">
      <div class="header-contactdetails-wrapper">
        <div class="header-contactdetails-textbox">
          <span>Call Now: +91 91331 32333 | Email: sivraspaces.interiors@gmail.com
          </span>
          <span>Opening time: Sun-Sat 9:00 AM - 7:00 PM
          </span>
        </div>
      </div>
      <div class="header-navigation-wrapper">
        <div>
          <%- include('./partials/header') %>
        </div>
      </div>
    </div>
    <div class="body-wrapper">
      <main>
        <section id="breadcrumb" class="breadcrumb-section">
          <div class="breadcrumb-wrapper">
            <img src="/assets/img/breadcrumb/services.png" alt="aboutus breadcrumb image">
            <div class="breadcrumb-overlay"></div>
            <div class="breadcrumb-text">
              <h2><span style="color: #F45B1E;">WHY CHOOSE</span> US</h2>
              <p>Driven by a passion for transforming spaces, we began our journey specializing in premium interior design solutions for homes and offices.</p>
              <div class="breadcrumb-path">
                <span style="color: black;">HOME</span> <i class="bi bi-dot"></i> <span>ABOUT US</span>
              </div>
            </div>
          </div>
         
        </section>
        <section>
          <div class="container mt-5">
            <div class="info-section row ">
              <div class="info-card col-12 col-md-4">
                <p>To be a trusted leader in interior design, recognized for crafting beautiful, functional spaces that reflect each client's unique lifestyle and taste.</p>
                <h6 class="line"></h6>
                <h3>Vision</h3>
              </div>
              <div class="info-card col-12 col-md-4">

                <p>Our mission is to deliver tailored interior design solutions — from modular kitchens and wardrobes to complete home transformations — that blend aesthetics with functionality.</p>
                <h6 class="line"></h6>
                <h3>Mission</h3>
              </div>
              <div class="info-card col-12 col-md-4">

                <p>We believe great interiors are built on integrity, precision, and passion. Every space we design is a reflection of our commitment to quality craftsmanship and attention to detail.</p>
                <h6 class="line"></h6>
                <h3>Core Values</h3>
              </div>
            </div>

            <div class="video-wrapper mt-5">
              <iframe src="https://www.youtube.com/embed/ckFIeWsbTsg?si=AamQjwSuo2laIX7R"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
              <div class="cover" onclick="playVideo()"></div>
            </div>

            <div class="stats-section mt-5">
              <div class="stats-card">
                <h1>05+</h1>
                <p>YEARS OF EXPERIENCE</p>
              </div>
              <div class="stats-card">
                <h1>05+</h1>
                <p>SUCCESSFUL PROJECTS</p>
              </div>
              <div class="stats-card">
                <h1>05+</h1>
                <p>PROFESSIONAL EXPERTS</p>
              </div>
              <div class="stats-card">
                <h1>05+</h1>
                <p>HAPPY CUSTOMERS</p>
              </div>
            </div>


          </div>

        </section>
        <!-- We work with integrity WHY CHOOSE US? -->
        <section id="about-why-choose-us" class="about-why-choose-us-section mt-5">
          <div class="container">
            <div>
              <div class="row align-items-center">
                <div class="col-sm-12 col-lg-4">
                  <div class="section-heading">
                    <p class="heading-line left" style="width: 60px;" />
                    <h5 style="color: white;" style="font-size: 18px;">WE WORK WITH INTEGRITY </h5>
                    <p class="heading-line right" style="width: 60px;" />
                  </div>
                  <div class="section-title">
                    <h3 style="color: white;">
                      WHY <span class="highlight-word">CHOOSE US?</span>
                    </h3>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                  <div class="section-content">
                    <p>At Sivra Spaces, every project is built on a foundation of trust, craftsmanship, and a deep understanding of our clients' needs. Working closely with homeowners and businesses across Hyderabad, we bring together skilled designers, engineers, and contractors to deliver interiors that are both beautiful and functional — from modular kitchens and custom wardrobes to false ceilings and UPVC windows. With years of hands-on experience and hundreds of happy customers, we go beyond just designing spaces — we create homes that truly reflect your lifestyle.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-why-choose-us-cards mt-5">
              <div class="row">
                <div class="col-12 col-sm-6  col-md-4 col-lg-3 mb-4 about-why-choose-us-card-container">
                  <div class="about-why-choose-us-card-icon">
                    <img src="/assets/img/whyus/team.png" alt="Team Icon" class="icon-image" />
                  </div>
                  <div class="about-why-choose-us-card-content">
                    <h2 class="about-why-choose-us-card-title">Expert Interior Designers & Skilled Craftsmen
                    </h2>
                    <div class="about-why-choose-us-card-underline mt-4"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 about-why-choose-us-card-container">
                  <div class="about-why-choose-us-card-icon">
                    <img src="/assets/img/whyus/badge.png" alt="Team Icon" class="icon-image" />
                  </div>
                  <div class="about-why-choose-us-card-content">
                    <h2 class="about-why-choose-us-card-title">Premium Finishes, On-Time Delivery & Customer Satisfaction</h2>
                    <div class="about-why-choose-us-card-underline mt-4"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6  col-md-4 col-lg-3 mb-4 about-why-choose-us-card-container">
                  <div class="about-why-choose-us-card-icon">
                    <img src="/assets/img/whyus/hub.png" alt="Team Icon" class="icon-image" />
                  </div>
                  <div class="about-why-choose-us-card-content">
                    <h2 class="about-why-choose-us-card-title">Tailored Designs for Every Space & Budget</h2>
                    <div class="about-why-choose-us-card-underline mt-4"></div>
                  </div>
                </div>
                <div class="col-12 col-sm-6  col-md-4 col-lg-3 mb-4 about-why-choose-us-card-container">
                  <div class="about-why-choose-us-card-icon">
                    <img src="/assets/img/whyus/shield.png" alt="Team Icon" class="icon-image" />
                  </div>
                  <div class="about-why-choose-us-card-content">
                    <h2 class="about-why-choose-us-card-title">End-to-End Service from Design to Installation</h2>
                    <div class="about-why-choose-us-card-underline mt-4"></div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </section>

        <!-- Latest Work -->
        <section id="latest-work" class="latest-work">
          <%- include('./partials/latestwork') %>
        </section>
        <!-- footer -->
        <section id="footer" class="footer-wrapper">
          <%- include('./partials/footer') %>
        </section>

        <section id="get-a-quote-sticker" class="get-a-quote-sticker-wrap d-flex flex-column">
          <%- include('./partials/get-quote-sticker') %>
        </section>

        <section>
          <div class="overlay" id="overlay"></div>
          <div id="get-a-quote-dialog" class="get-a-quote-dialog">
            <div style="text-align: right;" id="cancel-quote-form">
              <i class="bi bi-x-circle-fill" style="font-size: 40px;"></i>
            </div>
            <div>
              <%- include('./partials/get-quote-form') %>
            </div>
          </div>
        </section>

      </main>
      <%- include('./partials/mobile-nav') %>
    </div>
  </div>
  <script src="/assets/JQuery/jquery1.min.js"></script>
  <script src="/assets/owl-carousel/owl1.carousel.min.js"></script>
  <script src="/assets/JS/mobile-navigation-script.js"></script>
  <script src="/assets/sweetalert/sweetalert2.all.min.js"></script>
  <script src="/assets/JS/get-a-quote-dialog-script.js"></script>
  <script src="/assets/JS/contact-form-submission.js"></script>
  <script>
    function playVideo() {
      const iframe = document.querySelector('iframe');
      const cover = document.querySelector('.cover');
      iframe.style.display = 'block'; // Show the video
      cover.style.display = 'none'; // Hide the cover
    }
  </script>

  <script>
    $(document).ready(function () {
      $(".testimonial-carousel").owlCarousel({
        loop: true,
        margin: 0,
        dots: true,
        items: 1,
        autoplay: true,
        autoplayTimeout: 3500,
        autoplayHoverPause: false,
      });
    });

  </script>
</body>

</html>