<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
      content="Transform your spaces with expert interior design solutions! Discover stunning designs, personalized services, and innovative ideas to create the home or office of your dreams">
    <meta name="keywords"
      content="Interior design, Home decor, Office Interiors, Modern interior design, Luxury interiors, Space planning, Interior styling, Personalized design services, Contemporary decor, Interior design trends">
    <title>Interior Design - Sivra Spaces</title>
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.png" />
    <link rel="stylesheet" href="/assets/owl-carousel/owl1.carousel.min.css" />
    <link rel="stylesheet" href="/assets/owl-carousel/owl1.theme.default.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/aos/aos.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/sweetalert/sweetalert2.css">
    <!-- <link rel="stylesheet" href="/assets/css/about.css"> -->
  </head>
</head>

<body>
  <div class="about-outer-wrapper">
    <div class="header-wrapper">
      <div class="header-contactdetails-wrapper">
        <div class="header-contactdetails-textbox">
          <span>Call Now: +91 91331 32333, +91 81060 37771 | Email: sivraspaces.interiors@gmail.com
          </span>
          <span>Opening time: Sun-Sat 9:00 AM - 7:00 PM
          </span>
        </div>
      </div>
      <div class="header-navigation-wrapper">
        <div>
          <%- include('./partials/header') %>
        </div>
      </div>
    </div>
    <div class="body-wrapper">
      <main>
        <section id="breadcrumb" class="breadcrumb-section">
          <div class="breadcrumb-wrapper">
            <img src="/assets/img/breadcrumb/services.png" alt="services breadcrumb image">
            <div class="breadcrumb-overlay"></div>
            <div class="breadcrumb-text">
              <h2><span style="color: #F45B1E;">SERVICES</span></h2>
              <p>Customized Interior Design Plans for Every Project</p>
              <div class="breadcrumb-path">
                <span style="color: black;">HOME</span> <i class="bi bi-dot"></i> <span>INTERIOR DESIGN</span>
              </div>
            </div>
          </div>
         
        </section>
        <section>
            <div class="container my-5">
                <div class="row align-items-center">
                  <!-- Text Section -->
                  <div class="col-md-6">
                    <h3 class="fw-bold">
                      <span class="text-uppercase">Expertly Crafted</span> 
                      <span class="text-uppercase highlight-word"  >Architecture & Interior Solutions</span>
                    </h3>
                    <p class="mt-3">
                      We specialize in designing corporate offices, commercial spaces, individual homes, and more, with a focus on meeting specific needs and requirements. Our designs are not only aesthetically aligned with the brand image of businesses but also prioritize functionality, comfort, and the well-being of all who occupy the space.
                    </p>
                    <p>
                      Whether you're looking to design a small office or a large corporate headquarters, we have the expertise to bring your vision to life. We are experienced in handling projects of all sizes, ensuring that each space is optimized for its purpose while reflecting the client's identity and goals.
                    </p>
                  </div>
                  <!-- Image Section -->
                  <div class="col-md-6 text-center">
                 
                      <img src="/assets/img/services/interior/interiordesign.png" alt="interiordesign Image" class="img-fluid  rounded" >
                   
                  </div>
                </div>
              </div>
              
        </section>
        <section style="background-color: #132023;" class="py-4">
            <div class="container my-5">
                <!-- Heading Section -->
                <div class="text-center mb-4">
                  <h2 class="fw-bold"><span class="text-light">WE PROVIDE EXCELLENT</span><br> <span class="highlight-word">SERVICE TO OUR CUSTOMERS</span></h2>
                  <p class="text-light">
                    The art and science of enhancing the interior of a building to create a healthier, more aesthetically pleasing environment for the people using the space.
                  </p>
                </div>
              
                <!-- Cards Section -->
                <div class="row gy-4">
                  <!-- Residential Design -->
                  <div class="col-md-4">
                    <div class="card shadow text-light h-100" style="background-color: #132023;">
                      <img src="/assets/img/services/interior/interiorservice1.png" class="card-img-top" alt="Residential Design">
                      <div class="card-body">
                        <h5 class="card-title highlight-word">Residential Design</h5>
                        <p class="card-text">
                          Residential interior design is the art and science of creating aesthetically pleasing and functional living spaces tailored to the unique needs, tastes, and lifestyles of individuals or families.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Commercial Design -->
                  <div class="col-md-4">
                    <div class="card shadow text-light h-100" style="background-color: #132023;">
                      <img src="/assets/img/services/interior/interiorservice2.png" class="card-img-top" alt="Commercial Design">
                      <div class="card-body">
                        <h5 class="card-title highlight-word">Commercial Design</h5>
                        <p class="card-text">
                          Commercial interior design focuses on creating functional, aesthetic, and brand-aligned spaces in business environments such as offices, retail stores, and healthcare facilities.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Architectural Design -->
                  <div class="col-md-4">
                    <div class="card shadow text-light h-100" style="background-color: #132023;">
                      <img src="/assets/img/services/interior/interiorservice3.png" class="card-img-top" alt="Architectural Design">
                      <div class="card-body">
                        <h5 class="card-title highlight-word">Architectural Design</h5>
                        <p class="card-text">
                          The process of creating and planning the built environment, combining creativity with technical knowledge to create functional and safe structures.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Hospitality Design -->
                  <div class="col-md-4">
                    <div class="card shadow text-light h-100" style="background-color: #132023;">
                      <img src="/assets/img/services/interior/interiorservice4.png" class="card-img-top" alt="Hospitality Design">
                      <div class="card-body">
                        <h5 class="card-title highlight-word">Hospitality Design</h5>
                        <p class="card-text">
                          Hospitality design focuses on creating spaces for the hospitality industry, enhancing the guest experience by combining aesthetics and functionality.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Restaurant Design -->
                  <div class="col-md-4">
                    <div class="card shadow text-light h-100" style="background-color: #132023;">
                      <img src="/assets/img/services/interior/interiorservice5.png" class="card-img-top" alt="Restaurant Design">
                      <div class="card-body">
                        <h5 class="card-title highlight-word">Restaurant Design</h5>
                        <p class="card-text">
                          Restaurant design enhances the dining experience by combining aesthetics, functionality, and atmosphere, reflecting the restaurant's identity.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
        </section>
        <!-- gallery -->
         <section>
            <div class="container py-5">
                <h3>GALLERY</h3>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery1.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery2.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery3.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery4.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery5.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery6.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery7.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery8.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery9.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery10.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery11.png" alt="interior service gallery" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <img src="/assets/img/services/interior/interiorservicegallery12.png" alt="interior service gallery" class="img-fluid">
                    </div>
                </div>
            </div>
         </section>
        <!-- footer -->
        <section id="footer" class="footer-wrapper">
          <%- include('./partials/footer') %>
        </section>

        <section id="get-a-quote-sticker" class="get-a-quote-sticker-wrap d-flex flex-column">
          <%- include('./partials/get-quote-sticker') %>
        </section>

        <section>
          <div class="overlay" id="overlay"></div>
          <div id="get-a-quote-dialog" class="get-a-quote-dialog">
            <div style="text-align: right;" id="cancel-quote-form">
              <i class="bi bi-x-circle-fill" style="font-size: 40px;"></i>
            </div>
            <div>
              <%- include('./partials/get-quote-form') %>
            </div>
          </div>
        </section>

      </main>
      <%- include('./partials/mobile-nav') %>
    </div>
  </div>
  <script src="/assets/JQuery/jquery1.min.js"></script>
  <script src="/assets/owl-carousel/owl1.carousel.min.js"></script>
  <script src="/assets/JS/mobile-navigation-script.js"></script>
  <script src="/assets/sweetalert/sweetalert2.all.min.js"></script>
  <script src="/assets/JS/get-a-quote-dialog-script.js"></script>
  <script src="/assets/JS/contact-form-submission.js"></script>
  <script>
    function playVideo() {
      const iframe = document.querySelector('iframe');
      const cover = document.querySelector('.cover');
      iframe.style.display = 'block'; // Show the video
      cover.style.display = 'none'; // Hide the cover
    }
  </script>

  <script>
    $(document).ready(function () {
      $(".testimonial-carousel").owlCarousel({
        loop: true,
        margin: 0,
        dots: true,
        items: 1,
        autoplay: true,
        autoplayTimeout: 3500,
        autoplayHoverPause: false,
      });
    });

  </script>
</body>

</html>